.rahul-padney {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.link,
.link1 {
  letter-spacing: -0.03em;
  font-weight: 500;
  display: inline-block;
}
.link {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  min-width: 39px;
}
.link1 {
  min-width: 45px;
  cursor: pointer;
}
.link1,
.link2,
.link3 {
  position: relative;
  line-height: 150%;
}
.link2 {
  letter-spacing: -0.03em;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  cursor: pointer;
}
.link3 {
  align-self: stretch;
  white-space: nowrap;
}
.chevron-down-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.nav-link-dropdown {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--black);
  font-family: var(--font-roboto);
}
.column1 {
  margin: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--misc-pill-size);
  color: var(--neutral-offwhite);
  font-family: var(--font-inter);
}
.button1 {
  position: relative;
  line-height: 150%;
}
.button {
  height: 42px;
  border: 1px solid var(--black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.button3 {
  position: relative;
  line-height: 150%;
}
.button2 {
  height: 42px;
  background-color: var(--black);
  border: 1px solid var(--black);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  color: var(--neutral-white);
}
.button2,
.column,
.column2,
.navigation {
  flex-direction: row;
  align-items: center;
}
.column2 {
  height: 40px;
  display: none;
  justify-content: center;
  gap: var(--gap-base);
}
.column,
.navigation {
  display: flex;
  text-align: left;
}
.column {
  margin: 0;
  width: 207px;
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--misc-pill-size);
  color: var(--black);
  font-family: var(--font-roboto);
}
.navigation {
  width: 1440px;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-13xl);
  color: var(--neutral-offwhite);
  font-family: var(--font-bebas-neue);
}
.hi-i-am,
.rahul-pandey {
  margin: 0;
}
.hi-i-am-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 90%;
  font-weight: 400;
  font-family: inherit;
}
.passionate-data-scientist {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--heading-four);
  color: var(--neutral-offwhite);
}
.hi-i-am-rahul-pandey-parent {
  width: 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.title {
  position: relative;
  font-size: var(--misc-pill-size);
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--heading-four);
  color: var(--neutral-black);
  text-align: left;
  display: inline-block;
  min-width: 103px;
  cursor: pointer;
}
.button-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
}
.circle-icon {
  height: 42px;
  width: 42px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
    var(--padding-5xl);
  background-color: var(--primary);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.line,
.title1 {
  position: relative;
  z-index: unset;
}
.title1 {
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 112px;
}
.line {
  align-self: stretch;
  height: 2px;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.icons,
.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.icons {
  align-self: stretch;
  height: 20px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  gap: var(--gap-9xs);
  cursor: pointer;
  z-index: unset;
}
.socials {
  width: 112px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mid);
}
.line1,
.title2 {
  position: relative;
}
.title2 {
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.line1 {
  align-self: stretch;
  height: 2px;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.socials1,
.title-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.socials1 {
  width: 156px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
}
.bxl-linkedinsvg-icon {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.socials2 {
  height: 54px;
  width: 54px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bxl-githubsvg-icon {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.socials3 {
  height: 54px;
  width: 54px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-parent,
.frame-div {
  display: flex;
  justify-content: flex-start;
}
.button-parent {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-base);
  font-size: var(--misc-pill-size);
  color: var(--primary);
  font-family: var(--font-inter);
}
.frame-div {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.frame-child,
.frame-container {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-container {
  width: 843px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-child {
  width: 1441px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutral-dark-gray);
}
.featured-projects {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.here-are-some {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--heading-four);
  color: var(--neutral-offwhite);
}
.featured-projects-parent {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.work-icon {
  height: 347px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.conceptual-work {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.tag {
  height: 37px;
  border-radius: var(--br-81xl);
  background-color: var(--neutral-black);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.card,
.project-card {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  padding: var(--padding-107xl) var(--padding-38xl) var(--padding-108xl);
  box-sizing: border-box;
}
.project-card {
  min-width: 390px;
}
.azure-enabled-web-page,
.future-ready-talent {
  margin: 0;
}
.description,
.title3 {
  align-self: stretch;
  position: relative;
}
.title3 {
  margin: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 500;
  font-family: inherit;
}
.description {
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--neutral-offwhite);
}
.title-and-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title4,
.topic,
.value {
  position: relative;
  line-height: 150%;
}
.title4 {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 109px;
}
.topic,
.value {
  font-weight: 500;
}
.value {
  color: var(--neutral-offwhite);
}
.client {
  align-self: stretch;
  border-top: 1px solid var(--neutral-dark-gray);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
  font-family: var(--font-inter);
}
.topic1,
.value1 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 33px;
}
.value1 {
  color: var(--neutral-offwhite);
  min-width: 38px;
}
.year {
  align-self: stretch;
  border-top: 1px solid var(--neutral-dark-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
}
.topic2,
.value2 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
}
.value2 {
  color: var(--neutral-offwhite);
  min-width: 103px;
}
.role {
  align-self: stretch;
  border-top: 1px solid var(--neutral-dark-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
}
.information,
.list,
.project-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.list {
  border-bottom: 1px solid var(--neutral-dark-gray);
  align-items: flex-end;
  justify-content: center;
}
.information,
.project-info {
  align-items: flex-start;
  justify-content: flex-start;
}
.project-info {
  gap: var(--gap-base);
  font-size: var(--misc-pill-size);
}
.information {
  gap: var(--gap-13xl);
}
.title5 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 119px;
}
.bxl-githubsvg-icon1 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.git-hub-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.underline {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.git-hub-link-container {
  width: 149px;
  height: 30px;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  cursor: pointer;
  font-size: var(--misc-pill-size);
  color: var(--primary);
}
.card-info,
.card-info-wrapper,
.git-hub-link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-info {
  align-self: stretch;
  gap: var(--gap-29xl);
}
.card-info-wrapper {
  width: 576px;
  padding: 37.5px 0 0;
  box-sizing: border-box;
  min-width: 576px;
  max-width: 100%;
  font-size: var(--font-size-13xl);
}
.project-cards {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--font-size-sm);
  font-family: var(--heading-four);
}
.frame-parent2,
.project-card-container-inner,
.project-cards {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  width: 1224px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.project-card-container-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-21xl);
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-57xl);
  font-family: var(--font-bebas-neue);
}
.image-10-icon {
  position: absolute;
  top: calc(50% - 173px);
  left: calc(50% - 244px);
  border-radius: var(--br-xs);
  width: 488px;
  height: 347px;
  object-fit: cover;
}
.project-image {
  height: 600px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  min-width: 390px;
  max-width: 100%;
}
.description1,
.title6 {
  align-self: stretch;
  position: relative;
}
.title6 {
  margin: 0;
  font-size: inherit;
  line-height: 45px;
  font-weight: 500;
  font-family: inherit;
}
.description1 {
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--neutral-offwhite);
}
.title-and-description1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title7,
.topic3,
.value3 {
  position: relative;
  display: inline-block;
}
.title7 {
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 109px;
}
.topic3,
.value3 {
  line-height: 26px;
  font-weight: 500;
  min-width: 33px;
}
.value3 {
  color: var(--neutral-offwhite);
  min-width: 38px;
}
.year1 {
  align-self: stretch;
  border-top: 1px solid var(--neutral-dark-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
}
.information1,
.list1,
.project-info1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.list1 {
  border-bottom: 1px solid var(--neutral-dark-gray);
  align-items: flex-end;
  justify-content: center;
}
.information1,
.project-info1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.project-info1 {
  gap: var(--gap-base);
  font-size: var(--misc-pill-size);
}
.information1 {
  gap: var(--gap-13xl);
}
.title8 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 119px;
}
.bxl-githubsvg-icon2 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.git-hub-link1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.underline1 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.project-links {
  width: 149px;
  height: 30px;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  cursor: pointer;
  font-size: var(--misc-pill-size);
  color: var(--primary);
}
.information-parent,
.project-information,
.project-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-parent {
  align-self: stretch;
  gap: var(--gap-29xl);
}
.project-information {
  width: 576px;
  padding: 111.5px 0 0;
  box-sizing: border-box;
  min-width: 576px;
  max-width: 100%;
}
.project-card1,
.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.project-content {
  width: 1224px;
  gap: var(--gap-29xl);
}
.project-card1 {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-21xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.image-9-icon {
  position: absolute;
  top: calc(50% - 153px);
  left: calc(50% - 244px);
  border-radius: var(--br-xs);
  width: 488px;
  height: 306px;
  object-fit: cover;
}
.project-image1 {
  height: 600px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  min-width: 390px;
  max-width: 100%;
}
.description2,
.title9 {
  align-self: stretch;
  position: relative;
}
.title9 {
  margin: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 500;
  font-family: inherit;
}
.description2 {
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--neutral-offwhite);
}
.title-and-description2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title10,
.topic4,
.value4 {
  position: relative;
  display: inline-block;
}
.title10 {
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 109px;
}
.topic4,
.value4 {
  line-height: 26px;
  font-weight: 500;
  min-width: 33px;
}
.value4 {
  color: var(--neutral-offwhite);
  min-width: 38px;
}
.year2 {
  align-self: stretch;
  border-top: 1px solid var(--neutral-dark-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
}
.information2,
.list2,
.project-info2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.list2 {
  border-bottom: 1px solid var(--neutral-dark-gray);
  align-items: flex-end;
  justify-content: center;
}
.information2,
.project-info2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.project-info2 {
  gap: var(--gap-base);
  font-size: var(--misc-pill-size);
}
.information2 {
  gap: var(--gap-13xl);
}
.title11 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 119px;
}
.bxl-githubsvg-icon3 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.title-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.underline2 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.frame-parent3,
.information-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  width: 149px;
  height: 30px;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  cursor: pointer;
  font-size: var(--misc-pill-size);
  color: var(--primary);
}
.information-group {
  align-self: stretch;
  gap: var(--gap-29xl);
}
.frame-wrapper2,
.project-image-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 576px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 75.5px 0 0;
  box-sizing: border-box;
  min-width: 576px;
}
.project-image-parent {
  width: 1224px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-29xl);
}
.project-card-container-child,
.project-card2 {
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}
.project-card2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.project-card-container-child {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutral-dark-gray);
}
.footer-icon,
.project-card-container {
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
}
.footer-icon {
  width: 100%;
  height: 110px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.project-card-container {
  align-self: stretch;
  height: 2355px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-mid) 0 var(--padding-61xl) var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-61xl);
  z-index: 1;
}
.frame-wrapper1,
.line-parent,
.project-card-container {
  display: flex;
  justify-content: flex-start;
}
.line-parent {
  width: 1487px;
  flex-direction: column;
  align-items: flex-end;
  gap: 62px;
  flex-shrink: 0;
  max-width: 108%;
}
.frame-wrapper1 {
  width: 1383px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 2px;
  box-sizing: border-box;
  max-width: 100%;
}
.about-header-child,
.about-me {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.about-header-child {
  margin-left: -221px;
  height: 106px;
  width: 98px;
  border-radius: 50%;
  background-color: var(--primary);
}
.about-me {
  margin: 0;
  font-size: inherit;
  line-height: 91px;
  font-weight: 400;
  font-family: inherit;
}
.about-header,
.about-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.about-header {
  width: 479px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 0 0 var(--padding-153xl);
  box-sizing: border-box;
  gap: 123px;
  min-width: 479px;
  max-width: 100%;
}
.hello-im-rahul,
.title12 {
  position: relative;
  line-height: 150%;
}
.hello-im-rahul {
  align-self: stretch;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2),
    -1px 0 0 rgba(0, 0, 0, 0.2), 0-1px 0 rgba(0, 0, 0, 0.2);
}
.title12 {
  text-transform: uppercase;
  display: inline-block;
  min-width: 129px;
}
.underline3 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.hello-im-rahul-pandey-a-pas-parent,
.view-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.view-project {
  width: 129px;
  height: 28px;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  cursor: pointer;
  font-size: var(--misc-pill-size);
  color: var(--primary);
}
.hello-im-rahul-pandey-a-pas-parent {
  align-self: stretch;
  gap: var(--gap-95xl);
}
.about-content {
  width: 704px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  min-width: 704px;
  font-size: var(--font-size-xl);
  color: var(--neutral-offwhite);
  font-family: var(--heading-four);
}
.about-content,
.about-header-parent,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.about-header-parent {
  width: 1401px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-82xl);
  font-family: var(--font-bebas-neue);
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 107px;
}
.frame1,
.group-icon {
  position: relative;
  flex-shrink: 0;
}
.frame1 {
  width: 87px;
  height: 153px;
  overflow: hidden;
  display: none;
}
.group-icon {
  width: 1440px;
  max-height: 100%;
  max-width: 107%;
  z-index: 1;
}
.contact-header {
  width: 1445px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-30xl);
  box-sizing: border-box;
  max-width: 100%;
}
.lets-connect {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.description3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 95px;
}
.mail,
.underline4 {
  position: absolute;
  left: 0;
}
.mail {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--heading-four);
  font-size: var(--font-size-lg);
  background-color: transparent;
  top: 0;
  line-height: 150%;
  color: var(--neutral-white);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  padding: 0;
}
.underline4 {
  top: 27px;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  width: 258px;
  height: 1px;
}
.connect-button-mail {
  height: 27px;
  flex: 1;
  position: relative;
  min-width: 168px;
  cursor: pointer;
}
.connect-button-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.description4,
.description5 {
  position: relative;
  line-height: 150%;
}
.description5 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  min-width: 63px;
  cursor: pointer;
}
.linkedin-button-icon-container-child {
  position: absolute;
  top: 27px;
  left: 0;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  width: 63px;
  height: 1px;
}
.linkedin-button-icon-container {
  height: 28px;
  width: 63px;
  position: relative;
  color: var(--neutral-white);
}
.linkedin-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.bxl-githubsvg-icon4,
.bxl-linkedinsvg-icon1 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
  cursor: pointer;
}
.github-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.connect-button,
.contact-content,
.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-buttons {
  gap: var(--gap-20xl);
}
.connect-button,
.contact-content {
  max-width: 100%;
}
.connect-button {
  width: 356px;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--neutral-offwhite);
  font-family: var(--heading-four);
}
.contact-content {
  align-self: stretch;
  gap: var(--gap-base);
}
.rahul-pandey1 {
  position: relative;
  font-size: var(--misc-pill-size);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--heading-four);
  color: var(--neutral-offwhite);
}
.contact-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-340xl);
  min-width: 390px;
  max-width: 100%;
}
.description6 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
}
.description-parent,
.frame-item {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-item {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  height: 51px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--heading-four);
  font-size: var(--font-size-lg);
  color: var(--neutral-white);
  min-width: 250px;
}
.description-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.description7 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 41px;
}
.connect-mail-container,
.description-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.connect-mail-container {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  height: 51px;
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--heading-four);
  font-size: var(--font-size-lg);
  color: var(--neutral-white);
  min-width: 250px;
}
.description-group {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.description8 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
}
.connect-github-description,
.connect-github-description-child {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.connect-github-description-child {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  height: 51px;
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--heading-four);
  font-size: var(--font-size-lg);
  color: var(--neutral-white);
  min-width: 250px;
}
.connect-github-description {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.description9 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.connect-copyright,
.connect-linkedin-description,
.frame-parent5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.connect-copyright {
  border: 0;
  background-color: var(--color-gray-200);
  height: auto;
  outline: 0;
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  font-family: var(--heading-four);
  font-size: var(--font-size-lg);
  color: var(--neutral-white);
  min-width: 250px;
}
.connect-linkedin-description,
.frame-parent5 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-parent5 {
  gap: var(--gap-5xl);
}
.title13 {
  position: relative;
  font-size: var(--misc-pill-size);
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--heading-four);
  color: var(--neutral-black);
  text-align: left;
  display: inline-block;
  min-width: 61px;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-20xl);
  background-color: var(--primary);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button5:hover {
  background-color: var(--color-khaki-100);
}
.contact-details1,
.frame-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent4 {
  align-self: stretch;
  gap: var(--gap-21xl);
}
.contact-details1 {
  flex: 1;
  min-width: 390px;
  max-width: 100%;
  font-size: var(--misc-pill-size);
  color: var(--neutral-offwhite);
  font-family: var(--heading-four);
}
.contact-info-child {
  height: 86px;
  width: 87px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: -37px;
  border-radius: 50%;
  background-color: var(--primary);
  z-index: 1;
}
.contact-header-parent,
.contact-info {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-info {
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-5xl) 74px 0 var(--padding-153xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-57xl);
  color: var(--neutral-white);
  font-family: var(--font-bebas-neue);
}
.contact-header-parent {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.frame {
  align-self: stretch;
  overflow: hidden;
  padding: 0 0 var(--padding-61xl);
  box-sizing: border-box;
  gap: 416px;
  font-size: var(--font-size-13xl);
  font-family: var(--heading-four);
}
.frame,
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  gap: 228px;
}
.frame-wrapper {
  width: 1470px;
  padding: var(--padding-121xl) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-82xl);
  color: var(--neutral-white);
  font-family: var(--font-bebas-neue);
}
.page-background-icon {
  width: 555.1px;
  position: relative;
  border-radius: var(--br-31xl);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  margin-left: -674px;
}
.frame-parent,
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--neutral-black);
  overflow: hidden;
  flex-direction: column;
  gap: 50px;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1225px) {
  .project-card-container {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .about-content,
  .about-header {
    flex: 1;
  }
  .about-header-parent {
    flex-wrap: wrap;
  }
  .contact-header {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .frame {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frame-wrapper {
    padding-top: 38px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .card-info-wrapper {
    flex: 1;
  }
  .project-cards {
    flex-wrap: wrap;
  }
  .project-information {
    flex: 1;
  }
  .project-content {
    flex-wrap: wrap;
  }
  .frame-wrapper2 {
    flex: 1;
  }
  .project-image-parent {
    flex-wrap: wrap;
  }
  .project-card-container {
    height: auto;
  }
  .frame {
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .navigation {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .hi-i-am-container {
    font-size: var(--font-size-31xl);
    line-height: 55px;
  }
  .button-parent {
    flex-wrap: wrap;
  }
  .frame-div {
    gap: var(--gap-xl);
  }
  .featured-projects {
    font-size: var(--font-size-42xl);
    line-height: 61px;
  }
  .card {
    padding: var(--padding-63xl) var(--padding-9xl) var(--padding-64xl);
    box-sizing: border-box;
  }
  .project-card {
    min-width: 100%;
  }
  .title3 {
    font-size: var(--font-size-7xl);
    line-height: 36px;
  }
  .information {
    gap: var(--gap-base);
  }
  .card-info {
    gap: var(--gap-5xl);
  }
  .card-info-wrapper {
    min-width: 100%;
  }
  .project-cards {
    gap: var(--gap-5xl);
  }
  .frame-parent2 {
    gap: var(--gap-21xl);
  }
  .project-image {
    min-width: 100%;
  }
  .title6 {
    font-size: var(--font-size-7xl);
    line-height: 36px;
  }
  .information1 {
    gap: var(--gap-base);
  }
  .information-parent {
    gap: var(--gap-5xl);
  }
  .project-information {
    padding-top: 72px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .project-content {
    gap: var(--gap-5xl);
  }
  .project-image1 {
    min-width: 100%;
  }
  .title9 {
    font-size: var(--font-size-7xl);
    line-height: 36px;
  }
  .information2 {
    gap: var(--gap-base);
  }
  .information-group {
    gap: var(--gap-5xl);
  }
  .frame-wrapper2 {
    padding-top: var(--padding-30xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .project-image-parent {
    gap: var(--gap-5xl);
  }
  .project-card-container {
    gap: var(--gap-21xl);
    padding-left: 23px;
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .line-parent {
    gap: var(--gap-12xl);
  }
  .about-me {
    font-size: var(--font-size-31xl);
    line-height: 55px;
  }
  .about-header {
    flex-wrap: wrap;
    gap: 61px;
    padding-left: var(--padding-67xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .hello-im-rahul-pandey-a-pas-parent {
    gap: var(--gap-38xl);
  }
  .about-content {
    min-width: 100%;
  }
  .frame-parent1 {
    gap: 53px;
  }
  .lets-connect {
    font-size: var(--font-size-42xl);
    line-height: 61px;
  }
  .contact-details {
    gap: var(--gap-160xl);
    min-width: 100%;
  }
  .frame-parent4 {
    gap: var(--gap-xl);
  }
  .contact-details1 {
    gap: var(--gap-5xl);
    min-width: 100%;
  }
  .contact-info {
    padding-left: var(--padding-67xl);
    padding-right: 37px;
    box-sizing: border-box;
  }
  .frame {
    gap: 208px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-group {
    gap: var(--gap-95xl);
  }
  .frame-wrapper {
    padding-top: var(--padding-6xl);
    box-sizing: border-box;
  }
  .home {
    gap: 25px;
  }
}
@media screen and (max-width: 450px) {
  .hi-i-am-container {
    font-size: var(--font-size-11xl);
    line-height: 36px;
  }
  .featured-projects {
    font-size: var(--font-size-27xl);
    line-height: 46px;
  }
  .title3 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .client,
  .role,
  .year {
    flex-wrap: wrap;
  }
  .frame-parent2 {
    gap: var(--gap-xl);
  }
  .title6 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .year1 {
    flex-wrap: wrap;
  }
  .title9 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .year2 {
    flex-wrap: wrap;
  }
  .project-card-container {
    gap: var(--gap-xl);
  }
  .line-parent {
    gap: 15px;
  }
  .about-me {
    font-size: var(--font-size-11xl);
    line-height: 36px;
  }
  .about-header {
    gap: var(--gap-12xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .hello-im-rahul {
    font-size: var(--misc-pill-size);
    line-height: 24px;
  }
  .hello-im-rahul-pandey-a-pas-parent {
    gap: var(--gap-9xl);
  }
  .frame-parent1 {
    gap: var(--gap-8xl);
  }
  .lets-connect {
    font-size: var(--font-size-27xl);
    line-height: 46px;
  }
  .connect-button-content {
    flex-wrap: wrap;
  }
  .social-buttons {
    gap: var(--gap-lgi);
  }
  .contact-details {
    gap: var(--gap-71xl);
  }
  .contact-info {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame {
    gap: 104px;
  }
  .frame-group {
    gap: var(--gap-38xl);
  }
}
